<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>group</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <h1>Group <input value="{{name}}"  id="name_group"> , id:{{id}}  <h1 id="username"></h1></h1>
    <input value="{{icon}}" id="icon">
    <img src=" {{icon}} " class="size-25" alt="{{ name }}">

    <button onclick="_edit()">Update</button>
    <p>users:</p>
    <ul id="users-list"></ul>
    <p>events:</p>

    <ul id="events-list"></ul>

    <ul id="result_list"></ul>

<input type="number" id="id">
<p id="personne"></p>
<button onclick="invite()">invite</button>


    

    <script>
        const input = document.getElementById("id");
  const p = document.getElementById("personne");
input.addEventListener("input", () => {
get_user(input.value).then(data => {
  console.log(data);            // tableau
  p.textContent = data[0].name; // rubis1000
});
  });

    </script>
<br>
<input type="number" id="idevent">
<p id="personne2"></p>
<button onclick="add_event()">add_event</button>

    <script>
        const input2 = document.getElementById("idevent");
  const p2 = document.getElementById("personne2");
input2.addEventListener("input", () => {
get_event(input2.value).then(data => {
  console.log(data);            // tableau
  p2.textContent = data[0].name; // rubis1000
});
  });

    </script>

<script src="{{ url_for('static', filename='api.js') }}"></script>

    <script>
        async function loadMaker() {
            const usernameElement = document.getElementById("username");
            const eventmakerid = "{{ maker_id }}";   // injecté par Flask
            const userId = parseInt(eventmakerid);  // convertir en nombre

            // attendre la réponse de ton API
            const event_maker_name = await get_user(userId);

            const name = event_maker_name.map(user => `${user.name}`).join(" , ");

            usernameElement.innerHTML = "creér par "+name;
        }

        

async function _get_users() {
    let id = "{{id}}"
    const real_id = parseInt(id)
    let data = await get_all_user_from_group(real_id)

    const list = document.getElementById("users-list");
    list.innerHTML = "";

    data.forEach(user => {
        const li = document.createElement("li");

        const link = document.createElement("a");
         link.href = `/profil/${user.id}/detail`;
        link.textContent = `ID: ${user.id} – ${user.name} - ${user.wca}`;

        li.appendChild(link);
        list.appendChild(li);
    });
}

async function _get_events() {
    let id = "{{id}}"
    const real_id = parseInt(id)
    let data = await get_all_events_from_group(real_id)

    const list = document.getElementById("events-list");
    list.innerHTML = "";

    data.forEach(events => {
        const li = document.createElement("li");

        const link = document.createElement("a");
        link.href = `/events/${events.id}/detail`;
        link.textContent = `ID: ${events.id} – ${events.name} - ${events.makerid}`;

        li.appendChild(link);
        list.appendChild(li);
    });
}

async function invite() {
    let id = "{{id}}"
    const real_id = parseInt(id)
    let data = await add_user_to_group(real_id)
    
}

async function add_event() {
    let id = "{{id}}"
    const real_id = parseInt(id)
    let data = await add_event_to_group(real_id)
    
}
async function _edit() {
    let id = "{{id}}"
    const real_id = parseInt(id)
    let data = await edit_group(real_id)
    
}

async function _get_group_result() {
    let group = parseInt("{{id}}");
    let event = 1;

    let data = await get_result_group(event, group);

    const list = document.getElementById("result_list");
    list.innerHTML = "";

    for (const result of data) {
        const li = document.createElement("li");
        const link = document.createElement("p");

        const userData = await get_user(result.user_id);
        const name_of_user = Array.isArray(userData)
            ? userData.map(u => u.name).join(", ")
            : userData.data.map(u => u.name).join(", ");

        link.textContent = `${name_of_user} : ${msToMinSecMs(result.time)}`;
        li.appendChild(link);
        list.appendChild(li);
    }
}



loadMaker();
_get_users();
_get_events();
        _get_group_result();


    </script>
</body>
</html>