 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>log in </title>
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
 </head>
 <body>
 <form action="/login/log" method="POST" class="space-y-6">
     <label for="username" class="block text-sm/6 font-medium text-gray-900">Username</label>
   <input type="text"  id="username" name="username" required >
     <label for="password" class="block text-sm/6 font-medium text-gray-900">Password</label>
   <input type="text"  id="password" name="password" required>
  <div id="connect">
    <p>connect</p>
   <button type="submit">connect to account</button></div>
 </form>
   <a  href="/register">create account here</a>
    <script  src="{{ url_for('static', filename='api.js') }}"></script>

 </body>
 </html>